version: "3.9"

services:
  app:
    build: .
    container_name: polling-system-with-laravel
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  composer:
    image: composer:latest
    container_name: laravel_composer
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  dbdata: