version: "3.9"

services:
  app:
    build: .
    container_name: polling-system-with-laravel
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  composer:
    image: composer:latest
    container_name: laravel_composer
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

  soketi:
    image: quay.io/soketi/soketi:latest
    container_name: laravel_soketi
    ports:
      - "6001:6001"
    environment:
      DEBUG: "1"
      SOKETI_DEBUG: "1"
      SOKETI_APP_MANAGER_DRIVER: "array"
      SOKETI_APP_MANAGER_ARRAY_APPS: '[{"id":"local","key":"local","secret":"local","maxConnections":null,"enableUserAuthentication":false}]'
      SOKETI_DEFAULT_APP_ID: "local"
      SOKETI_DEFAULT_APP_KEY: "local"
      SOKETI_DEFAULT_APP_SECRET: "local"

  adminer:
    image: adminer:latest
    container_name: laravel_adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  dbdata: